<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NASA Image of the Day</title>    
    <link rel="stylesheet" href="/static/stylesheets/styles.css" type="text/css">
</head>
  <body>

    <div class="main-container">
        <h1 class="main-header">Enjoy today's NASA image of the day:</h1>
        <h3 class="nasa-header"> <%= nasaData.title %> </h3>
        <img class="nasa-img" src="<%= nasaData.url %>" alt="<%= nasaData.title %>"/>
        <div class="img-small-text-container">
            <p class="nasa-small-text"> <%= nasaData.copyright %> </p>
            <p class="nasa-small-text"> <%= nasaData.date %> </p>
        </div>
        <p class="nasa-description"> <%= nasaData.explanation %> </p>
    </div>

  </body>
</html>